.footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  flex-wrap: wrap;
  height: 100%;
  width: 100vw;
}

.footer-left {
  flex: 1.5; /* Takes more space */
  min-width: 300px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-center,
.footer-right {
  flex: 0.5; /* Takes equal space */
  min-width: 250px;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: flex-start;
  margin-left: 50px;
}


.social-icons {
  display: flex;
  gap: 40px;
  font-size: 20px;
  margin: 50px 0;
}

.partners img {
  height: 70px;
  margin-right: 100px;
  height: 50px
}

.logo{
  height: 45px;
  height: 45px;
  width: 100%;
}
.footer-center ul,
.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li,
.footer-right ul li {
  margin: 12px 0;
  cursor: pointer;
  font-weight: bold;
}

.footer-center ul li:hover,
.footer-right ul li:hover {
  color: greenyellow;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
